<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1><%= title %></h1>
    <ul>
      <% if (todos.length === 0){ %>
        <p>There are no To Dos yet!</p>
      <%} %>
      <% todos.forEach(function(t) { %>
        <li>
          <b><%= t.todo %></b>
          - 
          <%= t.done ? 'Done' : 'Not Done' %>
        </li>
        <form action="/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">DELETE</button>
        </form>
        <br>
      <% }); %>
    </ul>

    <hr><br>

    <form action="/" method="POST">
      <input type="text" name="todo">
      <button type="submit">ADD TO DO</button>
    </form>



  </body>
</html>
